<form>
  <md-card>
    <md-card-header>
      <md-card-title>登录：</md-card-title>
    </md-card-header>

    <md-card-content>
      <md-input-container class="full-width">
        <input mdInput type="text" placeholder="您的email">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="您的密码">
      </md-input-container>
      <button md-raised-button color="accent" type="button">登录</button>
    </md-card-content>

    <md-card-actions class="text-right">
      <p>还没有账户？<a href="">注册</a></p>
      <p>忘记密码？<a href="">找回</a></p>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-title>
        每日佳句
      </md-card-title>
      <md-card-subtitle>
        饮湖上初晴后雨二首·其二
      </md-card-subtitle>
    </md-card-header>

    <img md-card-image src="/assets/quote_fallback.jpg" alt="">

    <md-card-content>
      水光潋滟晴方好，山色空蒙雨亦奇。欲把西湖比西子，淡妆浓抹总相宜。
    </md-card-content>
  </md-card>
</form>
